<form class="form-horizontal">
    <div class="modal-header">
        <h3 class="title">New Widthdraw</h3>
    </div>
    <fieldset>

        <!-- Form Name -->
        <!-- Text input-->
        <div class="modal-body">


        </div>
        <div class="modal-footer">
            <!--<input type="hidden" name="_csrf" ng-value="_csrf" />-->
            <input class="btn btn-primary" type="submit" ng-click="save(withdraw)" value="Save">
            <button class="btn btn-danger" ng-click="cancel()">Cancel</button>
        </div>

    </fieldset>
</form>

