<div>
    <h1>Meals :</h1>

    <div>
        search <input type="text" ng-model="search"/>
    </div>
    <div class="table-responsive table-scrollable ">
        <table class="table table-hover id">
            <tr class="sort" tooltip-append-to-body="true" tooltip-popup-delay='500' tooltip-placement="left"
                tooltip="Click to Sort">
                <th class="id"><a ng-click="sortBy('id')">ID</a></th>
                <th><a ng-click="sortBy('date')">Date</a></th>
                <th><a ng-click="sortBy('member')">Member</a></th>
                <th><a ng-click="sortBy('number')">Meals</a></th>
                <th><a>Actions</a></th>
            </tr>
            <tr ng-repeat="meal in meals | filter:search | orderBy:order:reverse;">

                <td class="id" ng-bind="meal.id"></td>
                <td ng-bind="meal.date | date:'MM/dd/yyyy'"></td>
                <td ng-bind="meal.member"></td>
                <td ng-bind="meal.number"></td>
                <td>
                    <div class="btn-group btn-group-xs">
                        <button ng-click="" class="btn btn-primary ">Edit</button>
                        <button ng-click="" class="btn btn-default ">Details</button>
                        <button ng-click="" class="btn btn-danger ">Delete</button>
                    </div>
                </td>
            </tr>
        </table>

    </div>
</div>